<title>Re:live</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="shortcut icon" type="image/png" href="/FGT_logo_72x72.png"/>
<script>
function checkLoginState() {
    console.log('checking login status');
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            $('.fb_iframe_widget').html("<p class='logged-in'>Thanks for logging in!</p>");
            FB.api('/me', {fields: 'first_name, last_name, picture'}, function(response) {
                console.log(response);
                $('#firstName').val(response.first_name);
                $('#lastName').val(response.last_name);
            });

            console.log(response.authResponse.accessToken);
        }
    });
}
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '463024380796826',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.0'
    });
    FB.AppEvents.logPageView();  
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$(document).ready(function() {
    $(".cancel").html("<b>Hello!</b>");

    $(".resized-pics > li > img").hover(
    function(){$(this).toggleClass("cancel");}
    );
});

</script>