body {
  background: #000 url('https://static-label.frontgatetickets.com/label/1613/img/bgimage.jpg') no-repeat top center;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background: transparent;
  color: rgb(79, 80, 81);
  padding: 50px;
  padding-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.jumbotron p {
  color: #ddd;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

label {
  color: #DDD;
  font-size: 20px;
}

input.form-control { 
  border: transparent !important;
  border-color:  transparent !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #DDD !important;
  transition: none !important;
  box-shadow: none !important;
  outline: none !important;
  font-size: 20px !important;
  background-color: transparent;
  color: #DDD;
}

input:focus { 
  transition: none;
  outline: none;
}

input[type=file] {
  color: #DDD !important;
}

input[type=submit] {
  font-size: 20px;
  height: auto;
  background-color: #5bc0de;
  border-bottom: none !important;
  color: #FFF;
  font-weight: bold;
}

.warning-message {
  color: rgb(79, 80, 81) !important;
}

.container {
  max-width: 720px !important;
}

h2 {
  color: #FFF;
}

.download-btn {
  text-decoration: none;
  font-weight: bold;
}

.download-btn:active, .download-btn:hover, .download-btn:focus {
  text-decoration: none;
}