<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:700px; margin: 0 auto; display: block"></a>
        <div class="jumbotron">
            <h2><%= firstName %> <%= lastName %></h2>
            <br>
            <img src="/<%= fileUrl %>">
            <br><br>
            <div style="word-wrap: break-word">
                <p style="margin:0">User ID: <%= userID %></p>
            <h3 style="color:#FFF">Thanks for registering with EDC!</h3>
            <button class="btn btn-info" style="color:#FFF;font-size:20px"><a class="custom-video" href="/video" style="color:#FFF">View your customized video after EDC</a></button>

            </div>
        </div>
    </div>

       

</div>

</body>
</html>
