<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:700px; margin: 0 auto; display: block"></a>
        <div class="jumbotron">
            <h2><%= firstName %> <%= lastName %></h2>
            <br>
            <img src="/<%= fileUrl %>">
            <br><br>
            <div style="word-wrap: break-word;color: #222">User ID: <%= userID %>
            <h2>Thanks for registering with EDC! <a href="/video">View your customized video after EDC.</a></h2>
            
            </div>
        </div>
    </div>

       

</div>

</body>
</html>
