<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:800px; margin: 0 auto; display: block"></a>
        <div class="jumbotron" style="background-color: #FFF">
            <%= firstName %> <%= lastName %>
            <br>
            <img src="/<%= fileUrl %>">
            <br><br>
            <div style="word-wrap: break-word;color: #222"><%= userID %></div>
        </div>
    </div>

       

</div>

</body>
</html>
