<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% /* include ../partials/nav.ejs */ %>

<div class="container">
  <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:800px; margin: 0 auto; display: block"></a>
    <div class="jumbotron" style="background-color:#FFF">
      <div class="warning-message"><%= noName %></div>
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
      <br>
      <br>
      <div class="form-group">
        <form method="post" enctype="multipart/form-data" action="/upload">
        <label for="First Name">First Name</label>
        <input class="form-control" for="firstName" id="firstName" name="firstName" autofocus>
        <br>
         <label for="Last Name">Last Name</label>
        <input class="form-control" for="lastName" id="lastName" name="lastName" >
        <br>
        <input for="file" type="file" name="avatar">
        <div class="warning-message"><%= message %></div>
        <br>
        <input class="form-control btn btn-info" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
